
{% load static %}


* {
    padding: 0;
    margin: 0;
    /* color: #eef1f4; */
}


.upper_box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    ;
    height: 20vh;
    /* background-color: aqua; */
    background: url("car3.jpg");
    /* background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden; */
    background: center / cover no-repeat url("car1.jpg"),
        #eee 35% url("car1.jpg");
}

.box_overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20vh;
    background: rgba(42, 41, 50, 0.86);
}



.img {
    display: flex;
    background-image: url('logo.png');
    height: 100%;
    width: 15%;
    background-repeat: no-repeat, no-repeat;
    background-position: left;
    background-size: contain;
    /* border: 3px solid white ; */
    /* border-radius: 50%; */
    margin-left: 2%;
    /* justify-content: left; */
}

.titlebox {
    height: 95%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #cde8ff;
    font-family: 'Rubik', sans-serif;
    font-size: 4em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-shadow:
        2px 0px 0px black,
        /* Right shadow */
        -2px 0px 0px black,
        /* Left shadow */
        0px 2px 0px black,
        /* Bottom shadow */
        0px -2px 0px black;
    /* Top shadow */


}

.main_img {
    display: flex;
    align-items: center;
 justify-content: center;
    height: 80vh;
    /* background: rgba(63 ,65 ,95 , 0.88); */
    background: center / cover no-repeat url('car.jpg'),
        #6a6767 35% url('car.jpg');
}

.main_imgoverlay {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;
    left: 0;
    height: 80vh;
    width: 100%;
    background: rgba(24, 24, 26, 0.89);
}

.sec_nav {

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    width: 100%;
}

.sec_text {
    height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.89);
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
}

.sec_text h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}




.df_from {
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    height: 60vh;
    width: 100%;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    color: rgb(160, 197, 245);
}





.df_from form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;

}

.df_from div {
    margin: 2px;
    width: 100%;
    border-radius: 451px;
    display: flex;
    align-items: center;
    /* margin-left:; */
    justify-content: space-evenly;
}


/* 
.fuel_div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
} */

.df_from button {
    height: 5vh;
    width: 50%;
    border-radius: 451px;
    background: #D9D9D9;
}































@media only screen and (max-width:700px) {
    .img {
        display: flex;
        width: 20%;
    }

    .titlebox {
        font-size: 3em;
    }



}




@media only screen and (max-width: 500px) {
    .img {
        display: flex;
        width: 25%;
    }

    .titlebox {
        font-size: 2em;
    }
}

@media only screen and (max-width: 400px) {
    .img {
        display: none;
        align-items: center;
        justify-content: center;
        width: 25%;
    }

    .titlebox {
        font-size: 2em;
    }

    .sec_text{
        height: 10vh;
        font-size: 70%;
    }


    .df_from form{
        font-size: small;
    }

    .df_from input{
        width: auto;
    }
}



@media only screen and (max-width: 150px) {
    .titlebox {
        font-size: 1em;
    }
}



@media only screen and (max-height: 550px) {
     .df_from{
        height: fit-content;
    }
    .sec_text{
        height: fit-content;
    } 
    body{
        height: auto;
    }
    
}

/*
font-family: 'Oswald', sans-serif; */
/*font-family: 'Poppins', sans-serif;
font-family: 'Rubik', sans-serif; */